<div class="top">
    <div class="logo">
        <a href="http://argentinaprograma.inti.gob.ar/" target="_blank"><img src="../../../assets/APLogo.png" alt="argentinaprograma" class="logo"></a>
    </div>
    <div class="logos1">
        <a href="https://instagram.com"  target="_blank" class="menu"><img src="../../../assets/instagram.png" alt="instagram" class="logos"></a>
        <a href="https://linkedin.com"  target="_blank" class="menu"><img src="../../../assets/linkedin.png" alt="linkedin" class="logos"></a>
        <a href="https://github.com"  target="_blank" class="menu"><img src="../../../assets/github.png" alt="github" class="logos"></a>
        <a href="https://twitter.com"  target="_blank" class="menu"><img src="../../../assets/twitter.png" alt="twitter" class="logos"></a>
        <a href="https://facebook.com"  target="_blank" class="menu"><img src="../../../assets/facebook.png" alt="facebook" class="logos"></a>
    </div>
</div>