<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>estudio 1</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor placeat aliquam, unde velit, iusto natus reiciendis fugiat pariatur adipisci mollitia consectetur alias! Animi tenetur necessitatibus molestias error repudiandae soluta?</p>
        </ul>
        <ul>
            <li>
                <h1>estudio 2</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor placeat aliquam, unde velit, iusto natus reiciendis fugiat pariatur adipisci mollitia consectetur alias! Animi tenetur necessitatibus molestias error repudiandae soluta?</p>
        </ul>
        <ul>
            <li>
                <h1>estudio 3</h1>
                <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolor placeat aliquam, unde velit, iusto natus reiciendis fugiat pariatur adipisci mollitia consectetur alias! Animi tenetur necessitatibus molestias error repudiandae soluta?</p>
        </ul>
    </div>
</div>